@import url(reset.css);

.task{
	display: block;
	margin-bottom: 2vh;
}

.taskInfo{
	margin-bottom: 0.5vh;
	font-size: 18px;
}

.result{
	font-size: 18px;
	margin-top: 0.5vh;
}

main{
	margin-left: 3vw;
	margin-top: 5vh;
}

h1{
	font-size: 20px;
	margin-bottom: 0.5vh;
}
