<section class="">
	<h2 id="Bio" class="sectionText">Биография</h2>
	<p>Исаак Ньютон родился в деревне Вулсторп в канун гражданской войны. Отец Ньютона, мелкий, но преуспевающий фермер Исаак Ньютон (1606—1642), не дожил до рождения сына. Мальчик родился преждевременно, был болезненным, поэтому его долго не решались крестить. И всё же он выжил, был крещён (1 января), и назван Исааком в память об отце. Факт рождения под Рождество Ньютон считал особым знаком судьбы. Несмотря на слабое здоровье в младенчестве, он прожил 84 года.</p>
</section>