<section class="">
	<h2 id="brief" class="sectionText">Основная информация</h2>
	<p>Исаак Ньютон - английский физик, математик, механик и астроном, один из создателей классической физики.</p>
	<p>Автор фундаментального труда «Математические начала натуральной философии», в котором он изложил закон всемирного тяготения и три закона механики, ставшие основой классической механики. Разработал дифференциальное и интегральное исчисления, теорию цвета, заложил основы современной физической оптики, создал многие другие математические и физические теории.</p>
</section>