<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mainTitle}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-container">
				<h1>Исаак Ньютон</h1>
			</div>
		</header>
		<main class="content">
			<div class="content-container">
				<section class="image">
					<div class="image-container">
						<img src="img/IsaacNewton.jpg" alt="">
					</div>
					<nav class="menu">
						<ul>
							<li><a href="brief">Основная информация</a></li>
							<li><a href="bio">Биография</a></li>
							<li><a href="activity">Научная деятельность</a></li>
							<li><a href="links">Ссылки</a></li>
						</ul>					
					</nav>
				</section>
				{{{body}}}
			</div>
		</main>
		<footer class="footer">
			<div class="footer-container">
				<a class="copyright" href="">copyright</a>
			</div>
		</footer>

	</div>
</body>
</html>