<section class="">
	<h2 id="activity" class="sectionText">Научная деятельность</h2>
	<p>С работами Ньютона связана новая эпоха в физике и математике. Он завершил начатое Галилеем создание теоретической физики, основанной, с одной стороны, на опытных данных, а с другой — на количественно-математическом описании природы. В математике появляются мощные аналитические методы. В физике основным методом исследования природы становится построение адекватных математических моделей природных процессов и интенсивное исследование этих моделей с систематическим привлечением всей мощи нового математического аппарата. Последующие века доказали исключительную плодотворность такого подхода..</p>
</section>